/* .aaa{
    color:white;
    text-align: center;
} */
.ccc{
    color:white;
    margin-left: 100px;
}
.fff{
    margin-left: 50px;
}
.ddd{
width: 50%;
}
.eee{
    width:50%;
}

.dd{
    width: 50%;
}
.ee{
    width:50%;
}
.popo{
    color:white;
    text-align: center;
    background-color: blueviolet;
}
.coco{
    margin-left: 270px;
}